@import "../../../styles/utils/index";

@include p(index) {
  padding-top: px2rpx(96px);

  @include c(search) {
    @include position--fixed(0, null, null, 0);

    width: 100%;
    z-index: 5;
  }

  @include b(categories) {
    @include clearfix;
    @include padding(px2rpx(40px), px2rpx(18px), null, px2rpx(18px));

    box-sizing: border-box;
    height: px2rpx(400px);

    @include e(item) {
      padding-bottom: px2rpx(50px);
      width: 20%;
      float: left;
    }

    @include e(image) {
      @include circle(px2rpx(100px));
      @include block--center;

      display: block;
      margin-bottom: px2rpx(16px);
    }

    @include e(name) {
      line-height: 100%;
    }
  }
}
