@import "../../styles/utils/index";

@include c(swiper) {
  position: relative;

  @include e(swiper, image) {
    @include size(100%, px2rpx(350px));
  }

  @include cc(indicator) {
    @include position--absolute(null, null, px2rpx(20px), 0);

    text-align: center;
    width: 100%;
    line-height: 100%;

    @include e(item) {
      @include circle(px2rpx(16px));
      @include margin(0, px2rpx(5px), null, px2rpx(5px));

      display: inline-block;
      background-color: map-get($colors, c1);
      opacity: .2;

      &.is-active {
        width: px2rpx(30px);
        border-radius: px2rpx(8px);
        background-color: map-get($colors, c2);
        opacity: 1;
      }
    }
  }
}
