@import "../../../styles/utils/index";

@include p(index) {
  @include pb(categories) {
    @include clearfix;
    @include padding(px2rpx(34px), px2rpx(17px), px2rpx(15px), px2rpx(17px));

    box-sizing: content-box;
    background-color: map-get($colors, c1);
    height: px2rpx(170px * 2 - 20px);

    @include e(item) {
      @include size(20%, px2rpx(170px));

      float: left;
      line-height: 100%;

      img {
        @include size(px2rpx(110px), px2rpx(110px));
        @include block--center;

        display: block;
        border-radius: px2rpx(6px);
        margin-bottom: px2rpx(10px);
      }
    }
  }
}
