@include c(comment) {
  @include margin(null, px2rpx(30px), null, px2rpx(30px));

  @include e(title) {
    @include padding(px2rpx(22px), null, px2rpx(14px));

    padding-left: px2rpx(16px);
    line-height: 100%;
  }

  @include e(input, textarea) {
    border-radius: px2rpx(6px);
    line-height: px2rpx(32px);
    padding: px2rpx(12px) px2rpx(16px);
  }

  @include e(input) {
    height: px2rpx(32px);
  }

  @include e(textarea) {
    @include size(auto, px2rpx(180px));
  }

  @include e(upload) {
    @include size(px2rpx(160px), px2rpx(160px));

    position: relative;
    border: px2rpx(1px) dashed map-get($colors, c12);
    box-sizing: border-box;

    &::before,
    &::after {
      @include position--absolute(50%, null, null, 50%);

      transform: translateX(-50%) translateY(-50%);
      display: block;
      content: '';
    }

    &::before {
      @include size(px2rpx(1px), px2rpx(60px));

      border-left: 1px solid map-get($colors, c12);
    }

    &::after {
      @include size(px2rpx(60px), px2rpx(1px));

      border-bottom: 1px solid map-get($colors, c12);
    }
  }

  @include e(upload-file) {
    @include size(px2rpx(160px), px2rpx(160px));

    border: px2rpx(1px) dashed map-get($colors, c12);
    box-sizing: border-box;
    position: relative;

    video,
    img {
      @include size(100%, 100%);
    }

    @include c(icon) {
      @include position--absolute(px2rpx(-24px), px2rpx(-24px));
    }
  }
}
