@include c(coupon) {
  @include block--center;

  width: px2rpx(690px);
  color: map-get($colors, c1);

  @include e(body) {
    position: relative;
    height: px2rpx(152px);
    background-color: map-get($colors, c18);
    border-top-left-radius: px2rpx(16px);
    border-top-right-radius: px2rpx(16px);
    border-bottom: 1px solid map-get($colors, c19);
  }

  @include e(title) {
    @include padding(px2rpx(36px), null, null, px2rpx(34px));

    line-height: 100%;
  }

  @include e(time) {
    @include padding(px2rpx(15px), null, null, px2rpx(34px));

    line-height: 100%;
  }

  @include e(number) {
    @include position--absolute(px2rpx(36px), px2rpx(34px));

    line-height: 100%;
  }

  @include e(foot) {
    @include text--middle(px2rpx(60px));

    background-color: map-get($colors, c19);
    border-bottom-left-radius: px2rpx(16px);
    border-bottom-right-radius: px2rpx(16px);
    text-indent: px2rpx(34px);
  }

  @include s(is-disabled) {
    @include c(coupon) {
      @include e(body) {
        background-color: map-get($colors, c20);
        border-bottom: 1px solid map-get($colors, c21);
      }

      @include e(foot) {
        background-color: map-get($colors, c21);
      }
    }
  }

  @include s(is-new-user) {
    width: px2rpx(530px);
    color: map-get($colors, c2);

    @include c(coupon) {
      @include e(body) {
        background-color: map-get($colors, c1);
        border-bottom: 1px solid map-get($colors, c6);
      }

      @include e(rmb, money) {
        color: map-get($colors, c23);
      }

      @include e(foot) {
        background-color: map-get($colors, c6);
      }

      @include e(time, number, foot) {
        color: map-get($colors, c9);
      }
    }
  }
}
