@include c(icon) {
  $items: (
    (width: 160px, height: 160px, icon: logo),
    (width: 48px, height: 48px, icon: add-bg),

    (width: 40px, height: 40px, icon: address),
    (width: 40px, height: 40px, icon: collection),
    (width: 40px, height: 40px, icon: coupon),
    (width: 40px, height: 40px, icon: service),
    (width: 40px, height: 40px, icon: to-be-business),

    (width: 48px, height: 48px, icon: arrow-up),
    (width: 48px, height: 48px, icon: arrow-down),

    (width: 60px, height: 40px, icon: delivery),
    (width: 60px, height: 40px, icon: pay),
    (width: 60px, height: 40px, icon: after-sale),
    (width: 32px, height: 32px, icon: del),
    (width: 220px, height: 144px, icon: empty)
  );

  display: inline-block;
  background: {
    size: 100% 100%;
    repeat: no-repeat;
    position: center center;
  }

  @each $item in $items {
    $width: map-get($item, width);
    $height: map-get($item, height);
    $icon: map-get($item, icon);

    @include m(#{$icon}) {
      @include size(px2rpx($width), px2rpx($height));

      background-image: cdn("components/icon/#{$icon}.png");
    }
  }
}
