@include c(list) {
  $__item-height: 100px;
  $__item-border-bottom-color: map-get($colors, c12);
  $__item-margin-left: 40px;
  $__item-has-icon-text-indent: 56px;
  $__item-is-adaptable-padding: 25px;
  $__extra-right: 40px;
  $__value-height: 106px;
  $__value-left: 138px;
  $__value-width: 400px;

  @include e(item) {
    @include text--middle(px2rpx($__item-height));

    position: relative;
    border-bottom: 1px solid $__item-border-bottom-color;
    margin-left: px2rpx($__item-margin-left);

    &:last-child {
      border-bottom: 0;
    }

    @include s(has-icon) {
      text-indent: px2rpx($__item-has-icon-text-indent);
    }

    @include s(is-adaptable) {
      @include padding(px2rpx($__item-is-adaptable-padding), null, px2rpx($__item-is-adaptable-padding));

      height: auto;
    }

    @include s(is-link) {
      background: {
        image: cdn("components/list/is-link.png");
        size: px2rpx(24px) px2rpx(32px);
        repeat: no-repeat;
        position: right px2rpx(40px) center;
      }

      @include c(list) {
        @include e(extra) {
          right: px2rpx(80px);
        }
      }
    }

    @include s(is-button) {
      text-align: left;
      background-color: map-get($colors, c1);
      padding: 0;

      &::after {
        border: 0;
      }
    }

    @include c(icon) {
      @include position--absolute(50%, null, null, 0);

      transform: translateY(-50%);
    }
  }

  @include e(desc) {
    @include padding(px2rpx(10px), null, px2rpx(10px));

    line-height: 100%;
  }

  @include e(extra) {
    @include position--absolute(50%, px2rpx($__extra-right));

    transform: translateY(-50%);
    line-height: 100%;
  }

  @include e(value) {
    @include position--absolute(50%);
    @include text--middle(px2rpx($__value-height));

    transform: translateY(-50%);
    border: 0;
    left: px2rpx($__value-left);
    width: px2rpx($__value-width);

    @include s(is-full) {
      left: 0;
    }
  }
}
